* {
	margin: 0;
	box-sizing: border-box;
}

#container {
	background-color: black;
	min-height: 100vh;
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

#container > div {
	height: 50vh;
	grid-column: span 1 / span 1;
	position: relative;
}

#container > div + div,
#container > div:first-child {
	border-color: white;
	border-style: solid;
	border-right-width: 1px;
	border-left-width: 0px;
	border-top: 0;
	border-bottom-width: 1px;
}

#container svg {
	width: 100%;
	height: 100%;
}

.info {
	display: flex;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: fit-content;
	height: fit-content;
	padding: 4px;
	border: 1px solid rgb(107 114 128);
	color: white;
	border-top-right-radius: 0.375rem;
}

.options {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	width: fit-content;
	height: fit-content;
	padding: 4px;
	color: white;
	gap: 8px;
}

button {
	border: 1px solid rgb(107 114 128);
	background-color: black;
	color: white;
	border-radius: 0.375rem;
}
button:hover {
	background-color: rgb(107 114 128);
}
button:active {
	scale: 0.95;
}

.confirm {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
